header {
  font-family: Inter, sans-serif;
  background-color: white;
  height: 111px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 11px;
}

.nav__logo {
  width: 43px;
  height: 52px;
}

.nav__h1 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #141413;
  text-wrap: nowrap;
}
